div.rounded {
  border: 3px solid red;
  background-color: red;
  border-radius: 1em;
  background-clip: border-box;
  overflow: hidden;
  position: absolute;
  top: 104px;/*104*/
  left: 64px;
  height: 95px;
  width: 70px;
  float: right;
  background-size: 100%;
}

div.qrcode {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #fff;
  padding: 5px;
}

div.kotak {
  position: absolute;
  height: 50px;
  width: 100%;
  left: 35px;
  top: 210px;
}

div.nama, div.nisn, div.kelas {
  text-align: left;
  /*float: right;*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.panjang{font-size: 9px;}
div.nisn {
  font-size: 7px;
  margin-right: 17px;
}

div.kelas {
  margin-top: -1px;
  margin-right: 17px;
  font-size: 6px;
}
